* {
   box-sizing: border-box; 
}

body {
    background-image: url("../images/backgroundpattern.jpg");
    position: relative;
}

nav {
    background: black;
    width: 100%;
    height: 100px;
    display: inline-block;
    color: #bde;
}

nav:hover {
    color: #9f9;
}

h2:hover {
    color: #9f9;
}

footer:hover {
    color: #9f9;
}

#submit:hover {
    color: #9f9;
}

h1 {
    background: #666;
    float: left;
    text-align: center;
    position: relative;
    left: 18%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 30px;
    height: 100px;
    width: 20%;
    padding: 15px;
    margin-left: auto;
}

#about {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 24px;
    position: fixed;
    right: 31.4%;
    top: 35px;
}

#portfolio {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 24px;
    position: fixed;
    right: 24.5%;
    top: 35px;
}

#contact {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 24px;
    position: fixed;
    right: 19%;
    top: 35px;
}

div {
    clear: both;
    background: black;
    width: 64%;
    height: 580px;
    margin: 15px auto;
    overflow: auto;
}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 30px;
    color: #bde;
    width: 95%;
    padding: 20px;
    margin: 0px auto 0px;
    border-bottom: 5px solid #999;
}

img {
   width: 37.5%;
   margin-top: 25px;
   margin-left: 25px;
   margin-right: 15px;
   float: left;
}

p {
    width: 95%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #999;
    padding: 15px;
    line-height: 30px;
    margin-top: 5px;
    margin-left: 10px;
}

.portfolio {
    float: left;
    width: 25%;
}

.portfolio.links {
    display: inline-block;
    width: 15%;
    height: 25px;
    padding: 4px;
    list-style-type: none;
    text-decoration: none;
    background: #bde;
    color: white;
    text-align: center;
}

#hangman,
#rpg,
#trivia,
#widget,
#roshambo {
    position: relative;
    right: 25%;
    top: 30%;
}

form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #999;
    padding: 15px;
    margin-left: 35px;
}

#name {
    width: 95%;
    margin-top: 5px;
}

#email {
    width: 95%;
    margin-top: 5px;
}

#message {
    width: 95%;
    height: 200px;
    margin-top: 5px;
}

#submit {
    width: 15%;
    height: 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    background: #bde;
    text-decoration: none;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 20px;
    width: 100%;
    background: black;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 10px;
    color: white;
    border-top: 2px solid #bde;
    padding: 3.5px;
    text-align: center;
}