* {
    box-sizing: border-box; 
 }
 
 html {
    background: url("../images/half_pixel_col.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/homeBg.jpg', sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/homeBg', sizingMethod='scale');
}

 body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 }
 
 nav {
     height: 50px;
     display: inline-block;
     color: black;
 }
 
 #about:hover {
     color: white;
     background: black;
 }

 #portfolio:hover {
     color: white;
     background: black;
 }
 
 #contact:hover {
     color: white;
     background: black;
 }
 
 a {
     list-style-type: none;
     text-decoration: none;
     color: inherit;
 }
 
 #about {
     background: white;
     text-align: center;
     font-size: 13px;
     width: 8%;
     height: 16px;
     padding: 1px;
     font-weight: bold;
     position: absolute;
     left: 2%;
     top: 2%;
}
 
 #portfolio {
     background: white;
     text-align: center;
     width: 8%;
     height: 16px;
     padding: 1px;
     font-size: 13px;
     font-weight: bold;
     position: absolute;
     left: 2%;
     top: 5%;
 }
 
 #contact {
     background: white;
     text-align: center;
     width: 8%;
     height: 16px;
     padding: 1px;
     font-size: 13px;
     font-weight: bold;
     position: absolute;
     left: 2%;
     top: 8%;
 }
 
 div {
     clear: both;
     opacity: .95;
     height: 580px;
     margin:  50px auto;
     overflow: auto;
 }
 
 h1 {
     font-weight: bold;
     font-size: 132px;
     color: White;
     padding: 20px;
     position: absolute;
     left: 15%;
     top: 10%;
}
 
 img {
    width: 35%;
    position: absolute;
    left: 55%;
    top: 35%;
}
 
 p {
     display: inline-block;
     font-family: 'Space Mono', monospace;
     font-size: 18px;
     color: white;
     padding: 15px;
     transform: rotate(-90deg);
     position: absolute;
     left: -5%;
     top: 55%;
}
 
 .portfolio {
     display: inline-block;
     width: 20%;
 }
 
 .portfolio.links {
     display: inline-block;
     width: 15%;
     font-size: 13px;
     height: 25px;
     padding: 4px;
     list-style-type: none;
     text-decoration: none;
     color: white;
     text-align: center;
 }
 
form {
     font-size: 18px;
     color: white;
     margin-left: 40%;
     margin-top: 10%;
}
 
 #name {
     width: 70%;
 }
 
 #email {
     width: 70%;
     margin-top: 5px;
 }
 
 #message {
     width: 70%;
     height: 200px;
     margin-top: 5px;
 }
 
 #submit {
     width: 15%;
     height: 25px;
     padding: 2px;
     font-size: 16px;
     font-style: bold;
     color: black;
     background: white;
     text-decoration: none;
 }

 #submit:hover {
     color: white;
     background: black;
 }
 
 footer {
     position: fixed;
     left: 0px;
     bottom: 0px;
     height: 20px;
     width: 100%;
     background: black;
     font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
     font-size: 10px;
     color: white;
     padding: 3.5px;
     text-align: center;
 }

 @media screen and (max-width: 960px) {
    h1 {
        font-size: 92px;
    }

    #about {
       background: white;
       text-align: center;
       font-size: 13px;
       width: 15%;
       height: 16px;
       padding: 1px;
       font-weight: bold;
       position: absolute;
       left: 2%;
       top: 2.5%;
  }
   
   #portfolio {
       background: white;
       text-align: center;
       width: 15%;
       height: 16px;
       padding: 1px;
       font-size: 13px;
       font-weight: bold;
       position: absolute;
       left: 2%;
       top: 5%;
   }
   
   #contact {
       background: white;
       text-align: center;
       width: 15%;
       height: 16px;
       padding: 1px;
       font-size: 13px;
       font-weight: bold;
       position: absolute;
       left: 2%;
       top: 7.5%;
   }

   img {
       width: 50%;
       position: absolute;
       left: 45%;
       top: 32%;
   }

   p {
       display: inline-block;
       font-family: 'Space Mono', monospace;
       font-size: 18px;
       color: white;
       padding: 15px;
       transform: rotate(-90deg);
       position: absolute;
       left: -18%;
       top: 50%;
  }

  .portfolio {
      width: 35%;
      margin-left: 5%;
   }

    form {
        font-size: 16px;
        margin-top: 15%;
        margin-left: 35%;
    }

    #name {
       width: 85%;
   }
   
   #email {
       width: 85%;
       margin-top: 5px;
   }
   
   #message {
       width: 85%;
       height: 200px;
       margin-top: 5px;
   }

   #submit {
       width: 20%;
       height: 20px;
       padding: 1px;
       font-size: 13px;
       font-style: 700;
       color: black;
       background: white;
       text-decoration: none;
   }

  }

 @media screen and (max-width: 768px) {
    h1 {
        font-size: 72px;
    }

    #about {
       background: white;
       text-align: center;
       font-size: 13px;
       width: 15%;
       height: 16px;
       padding: 1px;
       font-weight: bold;
       position: absolute;
       left: 2%;
       top: 2.5%;
  }
   
   #portfolio {
       background: white;
       text-align: center;
       width: 15%;
       height: 16px;
       padding: 1px;
       font-size: 13px;
       font-weight: bold;
       position: absolute;
       left: 2%;
       top: 5%;
   }
   
   #contact {
       background: white;
       text-align: center;
       width: 15%;
       height: 16px;
       padding: 1px;
       font-size: 13px;
       font-weight: bold;
       position: absolute;
       left: 2%;
       top: 7.5%;
   }

   img {
       width: 55%;
       position: absolute;
       left: 40%;
       top: 32%;
   }

   p {
       display: inline-block;
       font-family: 'Space Mono', monospace;
       font-size: 18px;
       color: white;
       padding: 15px;
       transform: rotate(-90deg);
       position: absolute;
       left: -25%;
       top: 50%;
  }

  .portfolio {
      width: 45%;
      margin-left: 10%;
   }

    form {
        font-size: 16px;
        margin-top: 15%;
        margin-left: 35%;
    }

    #name {
       width: 85%;
   }
   
   #email {
       width: 85%;
       margin-top: 5px;
   }
   
   #message {
       width: 85%;
       height: 200px;
       margin-top: 5px;
   }

   #submit {
       width: 30%;
       height: 20px;
       padding: 1px;
       font-size: 13px;
       font-style: 700;
       color: black;
       background: white;
       text-decoration: none;
   } 
 }

 @media screen and (max-width: 640px) {
     h1 {
         font-size: 48px;
     }

     #about {
        background: white;
        text-align: center;
        font-size: 13px;
        width: 30%;
        height: 16px;
        padding: 1px;
        font-weight: bold;
        position: absolute;
        left: 2%;
        top: 2%;
   }
    
    #portfolio {
        background: white;
        text-align: center;
        width: 30%;
        height: 16px;
        padding: 1px;
        font-size: 13px;
        font-weight: bold;
        position: absolute;
        left: 2%;
        top: 5%;
    }
    
    #contact {
        background: white;
        text-align: center;
        width: 30%;
        height: 16px;
        padding: 1px;
        font-size: 13px;
        font-weight: bold;
        position: absolute;
        left: 2%;
        top: 8%;
        margin-top: 1px;
    }

    img {
        width: 65%;
        position: absolute;
        left: 30%;
        top: 32%;
    }

    p {
        display: inline-block;
        font-family: 'Space Mono', monospace;
        font-size: 16px;
        color: white;
        padding: 15px;
        transform: rotate(-90deg);
        position: absolute;
        left: -53%;
        top: 55%;
   }

   .portfolio {
       width: 65%;
    }

     form {
         font-size: 16px;
         margin-top: 10%;
         margin-left: 20%;
     }

     #name {
        width: 77%;
    }
    
    #email {
        width: 77%;
        margin-top: 5px;
    }
    
    #message {
        width: 77%;
        height: 200px;
        margin-top: 5px;
    }

    #submit {
        width: 30%;
        height: 20px;
        padding: 1px;
        font-size: 13px;
        font-style: 700;
        color: black;
        background: white;
        text-decoration: none;
    }
  }
